.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.menu__item {
    position: relative;

    background-color: white;
    border-radius: 20px;
    padding: 15px;

    margin-right: 20px;
    margin-bottom: 70px;

    width: 300px;

    box-shadow: 0 0 10px var(--darkblue);
}

.menu__item:nth-child(4n) {
    margin-right: 0;
}

.menu__item:hover {
    background-color: var(--blue);
}

.menu__item-image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__item-image {
    width: 200px;
}

.menu__item-name {
    height: 60px;

    font-size: 20px;
    font-family: "Comic Sans MS", sans-serif;
}

.menu__item-ingredients {
    font-size: 15px;
    font-family: "Arial", sans-serif;
    opacity: .85;

    line-height: 25px;
    margin-bottom: 100px;
}

.menu__item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    left: 0;
    top: calc(100% - 60px);

    width: 100%;

    padding-left: 15px;
    padding-right: 15px;

}

.menu__item-price {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: bold;
}

.menu__item-btn {
    height: 40px;

    cursor: pointer;
    background-color: var(--blue);
    color: #0084ff;

    font-size: 16px;
    /*font-weight: bolder;*/

    border: 1px solid var(--blue);
    border-radius: 7px;

    animation: ease .5s outBtnColor;

}

.menu__item-btn:hover {
    animation: ease .5s overBtnColor;
    background-color: var(--darkblue);
}

@keyframes overBtnColor {
    from  {
        background-color: var(--blue)
    }
    to {
        background-color: var(--darkblue)
    }
}

@keyframes outBtnColor {
    from  {
        background-color: var(--darkblue)
    }
    to {
        background-color: var(--blue)
    }
}
