.cart {
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 30px;

    border:  3px solid #66b5ff;
}

.cart__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart__item:not(:nth-child(2)) {
    border-top: 3px solid #66b5ff;
}


.cart__item__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-right: 3px solid #66b5ff;
}

.total-price {
    font-size: 24px;
    font-weight: bold;
}

.modal__header-img {
    border-radius: 30px;
}

.cart__item__middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px;
}

.middle__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart__item__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-left:3px solid #0090ff ;
}

.menu__item-ingredients {

    font-size: 18px;
}

.item__size {
    color: #66b5ff;
}

.menu__item-name {
    font-size: 24px;
}

.middle__bottom {
    border-top: 3px solid #0090ff;
}

.empty__cart {
    width: 100%;
    height: 400px;


    flex-direction: column;
    align-items: center;

    justify-content: center;

    font-size: 54px;

    display: none;
}

.show-cart {
    display: flex;
}

